body {
  margin: 0;
  padding: 0;
  background: url('https://have-more-boiled-water.oss-cn-shanghai.aliyuncs.com/bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
}
.user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.user-img {
  width: 200px;
  height: 200px;
  border: 3px solid rgb(95, 122, 184);
  border-radius: 50%;
  margin-top: 40px
}
.msg-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sex {
  width: 400px;
}
.sex-detail {
  padding: 10px 10px 10px 5px;
  font-size: 40px;
  color:#9ecbd1;
  margin-top: 50px;
}
.sex-detail input {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.sex-detail div {
  display: inline-block;
  margin-right: 30px;
  margin-left: 20px;
}