body {
  margin: 0;
  padding: 0;
  background: url('https://have-more-boiled-water.oss-cn-shanghai.aliyuncs.com/15f0d806bc3fb6e8.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
}
.room-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.room-back {
  align-self: flex-end;
  margin-right: 40px;
}
.room-sider {
  align-self: flex-end;
  margin-right: 40px;
}
.room-input {
  align-self: center;
  width: 80%;
  height: 60px;
  padding-bottom: 90px;
  display: flex;
}
.room-button {
  margin-top: 40px
}